.btn {
  border-width: 2px;
}
body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Inter', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Inter', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Inter', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #ffd200 !important;
}
.bg-success {
  background-color: #507b6a !important;
}
.bg-info {
  background-color: #000000 !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #ffd200 !important;
  border-color: #ffd200 !important;
  color: #000000 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #a88b00 !important;
  border-color: #a88b00 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #000000 !important;
  background-color: #a88b00 !important;
  border-color: #a88b00 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff8f4d !important;
  border-color: #ff8f4d !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #f55b00 !important;
  border-color: #f55b00 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #f55b00 !important;
  border-color: #f55b00 !important;
}
.btn-info,
.btn-info:active {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-success,
.btn-success:active {
  background-color: #507b6a !important;
  border-color: #507b6a !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2e463d !important;
  border-color: #2e463d !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2e463d !important;
  border-color: #2e463d !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #ffd200;
  color: #ffd200;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #a88b00 !important;
  background-color: transparent!important;
  border-color: #a88b00 !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #000000 !important;
  background-color: #ffd200 !important;
  border-color: #ffd200 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #ff8f4d;
  color: #ff8f4d;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #f55b00 !important;
  background-color: transparent!important;
  border-color: #f55b00 !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff8f4d !important;
  border-color: #ff8f4d !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #000000;
  color: #000000;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #507b6a;
  color: #507b6a;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2e463d !important;
  background-color: transparent!important;
  border-color: #2e463d !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #507b6a !important;
  border-color: #507b6a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ffe161;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: #ffd10a !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ff9966;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: #ff5f0f !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: #cfcfcf !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #ffd200 !important;
}
.text-secondary {
  color: #ff8f4d !important;
}
.text-success {
  color: #507b6a !important;
}
.text-info {
  color: #000000 !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #997e00 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #e65500 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #283d35 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #000000 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #ffd200;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #000000;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ffd200;
  border-color: #ffd200;
  color: #191500;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #ffd200;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fff6cc;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #92b8a9;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #b3b3b3;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
.form-control {
  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #ffd200 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #ffd200;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ffd200;
  color: #000000;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #ffd200;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #ffd200;
  border-bottom-color: #ffd200;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #ffd200 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff8f4d !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23ffd200' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-sFnVyL8djO .navbar-dropdown {
  position: relative !important;
}
.cid-sFnVyL8djO .navbar-dropdown {
  position: absolute !important;
}
.cid-sFnVyL8djO .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sFnVyL8djO .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sFnVyL8djO .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sFnVyL8djO .dropdown-item:hover,
.cid-sFnVyL8djO .dropdown-item:focus {
  background: #ffd200 !important;
  color: white !important;
}
.cid-sFnVyL8djO .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sFnVyL8djO .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sFnVyL8djO .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-sFnVyL8djO .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sFnVyL8djO .nav-link {
  position: relative;
}
.cid-sFnVyL8djO .container {
  display: flex;
  margin: auto;
}
.cid-sFnVyL8djO .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sFnVyL8djO .dropdown-menu,
.cid-sFnVyL8djO .navbar.opened {
  background: #064072 !important;
}
.cid-sFnVyL8djO .nav-item:focus,
.cid-sFnVyL8djO .nav-link:focus {
  outline: none;
}
.cid-sFnVyL8djO .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sFnVyL8djO .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sFnVyL8djO .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sFnVyL8djO .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sFnVyL8djO .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sFnVyL8djO .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sFnVyL8djO .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: rgba(6, 64, 114, 0.9);
}
.cid-sFnVyL8djO .navbar.opened {
  transition: all 0.3s;
}
.cid-sFnVyL8djO .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sFnVyL8djO .navbar .navbar-logo img {
  width: auto;
}
.cid-sFnVyL8djO .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sFnVyL8djO .navbar.collapsed {
  justify-content: center;
}
.cid-sFnVyL8djO .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sFnVyL8djO .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-sFnVyL8djO .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sFnVyL8djO .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sFnVyL8djO .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sFnVyL8djO .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sFnVyL8djO .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sFnVyL8djO .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sFnVyL8djO .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sFnVyL8djO .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sFnVyL8djO .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sFnVyL8djO .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sFnVyL8djO .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sFnVyL8djO .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sFnVyL8djO .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sFnVyL8djO .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sFnVyL8djO .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sFnVyL8djO .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sFnVyL8djO .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sFnVyL8djO .navbar.navbar-short {
  min-height: 60px;
}
.cid-sFnVyL8djO .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sFnVyL8djO .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sFnVyL8djO .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sFnVyL8djO .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sFnVyL8djO .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sFnVyL8djO .dropdown-item.active,
.cid-sFnVyL8djO .dropdown-item:active {
  background-color: transparent;
}
.cid-sFnVyL8djO .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sFnVyL8djO .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sFnVyL8djO .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sFnVyL8djO .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #064072;
}
.cid-sFnVyL8djO .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sFnVyL8djO .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sFnVyL8djO ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sFnVyL8djO .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sFnVyL8djO button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sFnVyL8djO button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-sFnVyL8djO button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sFnVyL8djO button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sFnVyL8djO button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sFnVyL8djO button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sFnVyL8djO nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sFnVyL8djO nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sFnVyL8djO nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sFnVyL8djO nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sFnVyL8djO .navbar-dropdown {
  padding: 0 1rem;
}
.cid-sFnVyL8djO a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sFnVyL8djO .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sFnVyL8djO .navbar {
    height: 70px;
  }
  .cid-sFnVyL8djO .navbar.opened {
    height: auto;
  }
  .cid-sFnVyL8djO .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sKxUcUbMOE {
  padding-top: 7rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sKvgoPx0tt {
  padding-top: 0rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-sKvgoPx0tt .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-sKvgoPx0tt .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-sKvgoPx0tt .text-wrapper {
    padding: 0 0.1rem;
  }
}
.cid-sKvgoPx0tt .mbr-section-title {
  color: #000000;
}
.cid-sKvgoPx0tt ul.checked li[data-v-f827bb04] {
  font-size: 1rem;
}
.cid-sKvgoPx0tt .shake {
  animation: shopifyshake 4s;
  animation-iteration-count: infinite;
}
.cid-sKvgoPx0tt .text {
  display: block;
  font-size: 2em;
  width: 100%;
  -webkit-animation-duration: 1s;
  animation-duration: 0.5s;
}
.cid-sKvgoPx0tt .fadeInDown.text {
  -webkit-animation-duration: 1.6s;
  animation-duration: 0.8s;
}
@keyframes shopifyshake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  1% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  2% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  3% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  4% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  5% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  6% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  7% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  8% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  80% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  90% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}
.cid-sKvgoPx0tt .JCB {
  border: 2px solid #2e2e2e;
  padding: 10px;
  border-radius: 15px;
}
.cid-sKvgoPx0tt .BuyCenter {
  margin: auto;
  width: 60%;
  border: 0px solid #FFFF00;
  padding: 10px;
}
.cid-sKy1rbqsFk {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #064072;
}
.cid-sKy1rbqsFk .mbr-section-title {
  color: #232323;
}
.cid-sKy1rbqsFk .JCB {
  border: 2px solid #2e2e2e;
  padding: 10px;
  border-radius: 15px;
}
.cid-sKy1d3drzV {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background: #064072;
}
.cid-sKy1d3drzV .team-card {
  margin-bottom: 2rem;
  transition: all 0.3s;
}
.cid-sKy1d3drzV .team-card:hover {
  transform: translateY(-10px);
}
.cid-sKy1d3drzV .card-wrap {
  background: #064072;
  border-radius: 4px;
}
@media (max-width: 991px) {
  .cid-sKy1d3drzV .card-wrap {
    margin-bottom: 2rem;
  }
}
.cid-sKy1d3drzV .card-wrap .image-wrap img {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .cid-sKy1d3drzV .card-wrap .content-wrap {
    padding: 0.5rem;
  }
}
@media (max-width: 767px) {
  .cid-sKy1d3drzV .card-wrap .content-wrap {
    padding: 1rem;
  }
}
.cid-sKy1d3drzV .social-row {
  text-align: center;
}
.cid-sKy1d3drzV .social-row .soc-item {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px solid #6592e6;
  transition: all 0.3s;
}
.cid-sKy1d3drzV .social-row .soc-item .mbr-iconfont {
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #6592e6;
  font-size: 1.5rem;
}
.cid-sKy1d3drzV .social-row .soc-item:hover {
  background-color: #6592e6;
}
.cid-sKy1d3drzV .social-row .soc-item:hover .mbr-iconfont {
  color: #ffffff;
}
.cid-sKy1d3drzV .card-title,
.cid-sKy1d3drzV .social-row {
  color: #ffe300;
}
.cid-sKy1d3drzV .JCB {
  border: 2px solid #2e2e2e;
  padding: 10px;
  border-radius: 15px;
}
.cid-sKy1d3drzV .card-text,
.cid-sKy1d3drzV .mbr-section-btn,
.cid-sKy1d3drzV .social-row {
  color: #ffffff;
}
.cid-tctXrjod7R {
  padding-top: 15px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-tctXrjod7R .mbr-section-subtitle {
  color: #767676;
}
.cid-tctXrjod7R .media-container-row {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-tctXrjod7R .mbr-text {
  color: #767676;
}
.cid-tctXrjod7R .mbr-author-desc {
  display: block;
  color: #767676;
}
.cid-tctXrjod7R .mbr-author-name {
  color: #232323;
}
.cid-tctXrjod7R .mbr-testimonial .panel-item {
  background-color: #ffffff;
}
.cid-tctXrjod7R .mbr-testimonial .card-block {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  padding: 1rem 1rem 0 1rem;
}
.cid-tctXrjod7R .mbr-testimonial .card-block .testimonial-photo {
  display: inline-block;
  width: 150px;
  height: 150px;
  margin-bottom: 0.5rem;
  overflow: hidden;
  border-radius: 50%;
}
.cid-tctXrjod7R .mbr-testimonial .card-block .testimonial-photo img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}
.cid-tctXrjod7R .mbr-testimonial .card-footer {
  padding-bottom: 0.1rem;
  border-top: 0;
  padding-top: 0.1rem;
  word-wrap: break-word;
  word-break: break-word;
  background: none;
}
@media (max-width: 300px) {
  .cid-tctXrjod7R .testimonial-photo {
    width: 100% !important;
    height: auto !important;
  }
}
.cid-tctXrjod7R H2 {
  color: #ffffff;
}
.cid-tctXrjod7R .JCB1 {
  border: 0px solid #2e2e2e;
  padding: 10px;
}
.cid-tctXrjod7R .JCB {
  border: 2px solid #2e2e2e;
  padding: 10px;
  border-radius: 15px;
}
.cid-tctXrjod7R .JCB_Title {
  border: 0px solid #2e2e2e;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.cid-tctXrjod7R .StarBox {
  background-color: fff;
  width: 270px;
  border: 0px solid green;
  padding: 1px;
  margin-left: auto;
  margin-right: auto;
}
.cid-tcujM81oFK {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-tcujM81oFK .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tcujM81oFK .row {
  flex-direction: row-reverse;
}
.cid-tcujM81oFK img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tcujM81oFK .text-wrapper {
    padding: 2rem;
  }
}
.cid-tcujM81oFK .JCB {
  border: 2px solid #2e2e2e;
  padding: 10px;
  border-radius: 15px;
}
.cid-tcujM81oFK .mbr-section-title {
  color: #064072;
}
.cid-tdwrrK45IE {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-tdwrrK45IE .JCB {
  border: 2px solid #2e2e2e;
  padding: 10px;
  border-radius: 15px;
}
.cid-tdwrrK45IE .mbr-section-title {
  text-align: center;
  color: #ffffff;
}
.cid-tdwrrK45IE .JCB_Title {
  border: 0px solid #2e2e2e;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.cid-tdwrrK45IE ul.checked li[data-v-f827bb04] {
  font-size: 1rem;
}
.cid-tdwrrK45IE ul.checked li {
  display: block;
  position: relative;
  font-size: 1.2rem;
  padding: 3px 0;
  padding-left: 10px;
  page-break-inside: avoid;
  -moz-column-break-inside: avoid;
  break-inside: avoid;
}
.cid-tdwrrK45IE ul.checked li:before {
  content: " ";
  position: absolute;
  margin-top: -3px;
  margin-left: -40px;
  width: 32px;
  height: 32px;
  display: block;
  background-image: url(../../../../www.pngkey.com/png/full/785-7855876_check-mark-icon-blue.png);
  background-size: 32px auto;
  background-repeat: no-repeat;
  background-position: 50%;
}
.cid-sKy7tkCOig {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-sKy7tkCOig .JCB {
  border: 2px solid #2e2e2e;
  padding: 10px;
  border-radius: 15px;
}
.cid-sKy7tkCOig .mbr-section-title {
  text-align: center;
  color: #ffffff;
}
.cid-sKy7tkCOig .JCB_Title {
  border: 0px solid #2e2e2e;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.cid-sKy7tkCOig ul.checked li[data-v-f827bb04] {
  font-size: 1rem;
}
.cid-sKy7tkCOig ul.checked li {
  display: block;
  position: relative;
  font-size: 1.2rem;
  padding: 3px 0;
  padding-left: 10px;
  page-break-inside: avoid;
  -moz-column-break-inside: avoid;
  break-inside: avoid;
}
.cid-sKy7tkCOig ul.checked li:before {
  content: " ";
  position: absolute;
  margin-top: -3px;
  margin-left: -40px;
  width: 32px;
  height: 32px;
  display: block;
  background-image: url(../../../../www.pngkey.com/png/full/785-7855876_check-mark-icon-blue.png);
  background-size: 32px auto;
  background-repeat: no-repeat;
  background-position: 50%;
}
.cid-sKy7YKiKVs {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #064072;
}
.cid-sKy7YKiKVs .mbr-section-subtitle {
  color: #ffe300;
  line-height: 0.7;
}
.cid-sKy7YKiKVs .mbr-section-title {
  color: #ffffff;
  line-height: 0.7;
}
.cid-sJy7A9BVhO {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sJy7A9BVhO .item {
  padding-bottom: 2rem;
}
.cid-sJy7A9BVhO .item-wrapper {
  position: relative;
}
.cid-sJy7A9BVhO .item-wrapper .icon-wrapper {
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 22px;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 50%;
  opacity: 0;
  color: #ffffff;
  transform: translateX(-50%) translateY(-50%);
  background-color: #1b1b1b;
  transition: 0.2s;
}
.cid-sJy7A9BVhO .item-wrapper:hover .icon-wrapper {
  opacity: 0.7;
}
.cid-sJy7A9BVhO .carousel-control,
.cid-sJy7A9BVhO .close {
  background: #1b1b1b;
}
.cid-sJy7A9BVhO .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-sJy7A9BVhO .carousel-control-prev span {
  margin-right: 5px;
}
.cid-sJy7A9BVhO .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-sJy7A9BVhO .carousel-control-next span {
  margin-left: 5px;
}
.cid-sJy7A9BVhO .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-sJy7A9BVhO .close::before {
  content: '\e91a';
}
.cid-sJy7A9BVhO .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-sJy7A9BVhO .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-sJy7A9BVhO .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-sJy7A9BVhO .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-sJy7A9BVhO .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-sJy7A9BVhO .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}
.cid-sJy7A9BVhO .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-sJy7A9BVhO .carousel-indicators li.active,
.cid-sJy7A9BVhO .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-sJy7A9BVhO .carousel-indicators li::after,
.cid-sJy7A9BVhO .carousel-indicators li::before {
  content: none;
}
.cid-sJy7A9BVhO .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-sJy7A9BVhO .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-sJy7A9BVhO .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-sJy7A9BVhO .carousel-indicators {
    display: none;
  }
}
.cid-sJy7A9BVhO .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-sJy7A9BVhO .carousel-inner > .active {
  display: block;
}
.cid-sJy7A9BVhO .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-sJy7A9BVhO .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-sJy7A9BVhO .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-sJy7A9BVhO .carousel-control,
  .cid-sJy7A9BVhO .carousel-indicators,
  .cid-sJy7A9BVhO .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-sJy7A9BVhO .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-sJy7A9BVhO .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-sJy7A9BVhO .carousel-indicators .active,
.cid-sJy7A9BVhO .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-sJy7A9BVhO .carousel-indicators .active {
  background: #fff;
}
.cid-sJy7A9BVhO .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-sJy7A9BVhO .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-sJy7A9BVhO .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-sJy7A9BVhO .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-sJy7A9BVhO .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-sJy7A9BVhO .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-sJy7A9BVhO .carousel {
  width: 100%;
}
.cid-sJy7A9BVhO .modal-backdrop.in {
  opacity: 0.8;
}
.cid-sJy7A9BVhO .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-sJy7A9BVhO .modal.fade .modal-dialog,
.cid-sJy7A9BVhO .modal.in .modal-dialog {
  transform: none;
}
.cid-sJy7A9BVhO .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-sJy7A9BVhO H6 {
  text-align: center;
}
.cid-sJy7A9BVhO H3 {
  color: #3f6c5b;
}
.cid-tcuwtHPNQd {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tcuwtHPNQd .JCB {
  border: 3px solid #2e2e2e;
  padding: 10px;
  border-radius: 15px;
  background-color: #fdb831;
}
.cid-tcuwtHPNQd .WarningBox {
  float: left;
  margin: 5px 70px;
  width: 70px;
  border: 0px solid #2e2e2e;
  padding-top: 2px;
  margin-top: 1px;
}
.cid-tcuwtHPNQd .mbr-text {
  color: #f11400;
}
.cid-tcuEwCn0Sd {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-tcuEwCn0Sd .mbr-section-title {
  text-align: center;
  color: #ffffff;
}
.cid-tcuEwCn0Sd .JCB {
  border: 2px solid #2e2e2e;
  padding: 10px;
  border-radius: 15px;
}
.cid-tcuEwCn0Sd .JCB_Title {
  border: 0px solid #2e2e2e;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.cid-tcuEwCn0Sd .JCB_Sub_Title {
  border: 1px solid #2e2e2e;
  padding: 10px;
  border-radius: 5px;
}
.cid-tcuEwCn0Sd .hr1 {
  border: 1px solid #fff;
}
.cid-tcuEwCn0Sd ul.checked li[data-v-f827bb04] {
  font-size: 1rem;
}
.cid-tcuEwCn0Sd ul.checked li {
  display: block;
  position: relative;
  font-size: 1.5rem;
  padding: 3px 0;
  padding-left: 40px;
  page-break-inside: avoid;
  -moz-column-break-inside: avoid;
  break-inside: avoid;
}
.cid-tcuEwCn0Sd ul.checked li:before {
  content: " ";
  position: absolute;
  margin-top: -1px;
  margin-left: -60px;
  width: 52px;
  height: 52px;
  display: block;
  background-image: url(https://www.freeiconspng.com/ptp.php?leaf-icon-png/green-leaf-icon-10);
  background-size: 52px auto;
  background-repeat: no-repeat;
  background-position: 50%;
}
.cid-sKviBHEuJH {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #064072;
}
.cid-sKviBHEuJH .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-sKviBHEuJH .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-sKviBHEuJH .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-sKviBHEuJH .mbr-section-title {
  color: #ffd200;
}
.cid-sKviBHEuJH .mbr-text,
.cid-sKviBHEuJH .mbr-section-btn {
  color: #ffffff;
}
.cid-tcviRYGmT6 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-tcviRYGmT6 .JCB {
  border: 2px solid #2e2e2e;
  padding: 10px;
  border-radius: 15px;
}
.cid-tcviRYGmT6 .mbr-section-title {
  text-align: center;
  color: #ffffff;
}
.cid-tcviRYGmT6 .JCB_Title {
  border: 0px solid #2e2e2e;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.cid-tcviRYGmT6 ul.checked li[data-v-f827bb04] {
  font-size: 1rem;
}
.cid-tcviRYGmT6 ul.checked li {
  display: block;
  position: relative;
  font-size: 1.2rem;
  padding: 3px 0;
  padding-left: 10px;
  page-break-inside: avoid;
  -moz-column-break-inside: avoid;
  break-inside: avoid;
}
.cid-tcviRYGmT6 ul.checked li:before {
  content: " ";
  position: absolute;
  margin-top: -3px;
  margin-left: -40px;
  width: 32px;
  height: 32px;
  display: block;
  background-image: url(../../../../www.pngkey.com/png/full/785-7855876_check-mark-icon-blue.png);
  background-size: 32px auto;
  background-repeat: no-repeat;
  background-position: 50%;
}
.cid-sKytGmSqx0 {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #064072;
}
.cid-sKytGmSqx0 .mbr-section-subtitle {
  color: #ffe300;
  line-height: 0.7;
}
.cid-sKytGmSqx0 .mbr-section-title {
  color: #ffffff;
  line-height: 0.7;
}
.cid-sKyug7ufmd {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sKyug7ufmd .item {
  padding-bottom: 2rem;
}
.cid-sKyug7ufmd .item-wrapper {
  position: relative;
}
.cid-sKyug7ufmd .item-wrapper .icon-wrapper {
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 22px;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 50%;
  opacity: 0;
  color: #ffffff;
  transform: translateX(-50%) translateY(-50%);
  background-color: #1b1b1b;
  transition: 0.2s;
}
.cid-sKyug7ufmd .item-wrapper:hover .icon-wrapper {
  opacity: 0.7;
}
.cid-sKyug7ufmd .carousel-control,
.cid-sKyug7ufmd .close {
  background: #1b1b1b;
}
.cid-sKyug7ufmd .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-sKyug7ufmd .carousel-control-prev span {
  margin-right: 5px;
}
.cid-sKyug7ufmd .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-sKyug7ufmd .carousel-control-next span {
  margin-left: 5px;
}
.cid-sKyug7ufmd .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-sKyug7ufmd .close::before {
  content: '\e91a';
}
.cid-sKyug7ufmd .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-sKyug7ufmd .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-sKyug7ufmd .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-sKyug7ufmd .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-sKyug7ufmd .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-sKyug7ufmd .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}
.cid-sKyug7ufmd .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-sKyug7ufmd .carousel-indicators li.active,
.cid-sKyug7ufmd .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-sKyug7ufmd .carousel-indicators li::after,
.cid-sKyug7ufmd .carousel-indicators li::before {
  content: none;
}
.cid-sKyug7ufmd .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-sKyug7ufmd .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-sKyug7ufmd .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-sKyug7ufmd .carousel-indicators {
    display: none;
  }
}
.cid-sKyug7ufmd .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-sKyug7ufmd .carousel-inner > .active {
  display: block;
}
.cid-sKyug7ufmd .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-sKyug7ufmd .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-sKyug7ufmd .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-sKyug7ufmd .carousel-control,
  .cid-sKyug7ufmd .carousel-indicators,
  .cid-sKyug7ufmd .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-sKyug7ufmd .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-sKyug7ufmd .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-sKyug7ufmd .carousel-indicators .active,
.cid-sKyug7ufmd .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-sKyug7ufmd .carousel-indicators .active {
  background: #fff;
}
.cid-sKyug7ufmd .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-sKyug7ufmd .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-sKyug7ufmd .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-sKyug7ufmd .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-sKyug7ufmd .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-sKyug7ufmd .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-sKyug7ufmd .carousel {
  width: 100%;
}
.cid-sKyug7ufmd .modal-backdrop.in {
  opacity: 0.8;
}
.cid-sKyug7ufmd .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-sKyug7ufmd .modal.fade .modal-dialog,
.cid-sKyug7ufmd .modal.in .modal-dialog {
  transform: none;
}
.cid-sKyug7ufmd .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-sKyug7ufmd H6 {
  text-align: center;
}
.cid-sKyug7ufmd H3 {
  color: #3f6c5b;
}
.cid-sKyuwGaKRW {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sKyuwGaKRW .JCB {
  border: 3px solid #2e2e2e;
  padding: 10px;
  border-radius: 15px;
  background-color: #fdb831;
}
.cid-sKyuwGaKRW .WarningBox {
  float: left;
  margin: 5px 70px;
  width: 70px;
  border: 0px solid #2e2e2e;
  padding-top: 2px;
  margin-top: 1px;
}
.cid-sKyuwGaKRW .mbr-text {
  color: #f11400;
}
.cid-sKyvwxml3Z {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-sKyvwxml3Z .mbr-iconfont {
  font-size: 1.4rem !important;
  font-family: 'Moririse2' !important;
  color: #ffd200;
  margin-left: 1rem;
}
.cid-sKyvwxml3Z .panel-group {
  border: none;
}
.cid-sKyvwxml3Z .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-sKyvwxml3Z .panel-body,
.cid-sKyvwxml3Z .card-header {
  padding: 1rem 0;
}
.cid-sKyvwxml3Z .panel-title-edit {
  color: #064072;
}
.cid-sKyvwxml3Z .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-sKyvwxml3Z .JCB {
  border: 2px solid #2e2e2e;
  padding: 10px;
  border-radius: 15px;
}
.cid-sKyvwxml3Z .mbr-section-title {
  text-align: center;
  color: #ffffff;
}
.cid-sKyvwxml3Z .JCB_Title {
  border: 0px solid #2e2e2e;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.cid-sKywwksQqS {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #064072;
}
.cid-sKywwksQqS .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-sKywwksQqS .image-wrap img {
    display: block;
    margin: auto;
    width: 80%;
  }
}
.cid-sKywwksQqS .mbr-section-title {
  color: #ffffff;
}
.cid-sKywwksQqS .mbr-text,
.cid-sKywwksQqS .mbr-section-btn {
  color: #ffffff;
}
.cid-sFnxJ222l9 {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sFnxJ222l9 .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-sFnxJ222l9 .image-wrap img {
    display: block;
    margin: auto;
    width: 100%;
  }
}
.cid-sFnxJ222l9 .JCB {
  border: 2px solid #2e2e2e;
  padding: 10px;
  border-radius: 15px;
}
.cid-sFnxJ222l9 .mbr-section-title {
  text-align: center;
  color: #ffffff;
}
.cid-sFnxJ222l9 .JCB_Title {
  border: 0px solid #2e2e2e;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.cid-sFny6NoOJZ {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sFny6NoOJZ .mbr-section-subtitle {
  color: #064072;
}
.cid-sFnym662TM {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sFnym662TM .mbr-section-subtitle {
  color: #064072;
}
.cid-sFnyrqvjwK {
  padding-top: 0rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-sFnyrqvjwK .mbr-section-subtitle {
  color: #064072;
}
.cid-tdwA9zLBhr {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tdwB8BpuAC {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-tdwB8BpuAC .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tdwB8BpuAC .row {
  flex-direction: row-reverse;
}
.cid-tdwB8BpuAC img {
  width: 100%;
}
.cid-sFnyUkxVUQ {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #064072;
}
.cid-sFnyUkxVUQ .row-links {
  width: 100%;
  justify-content: center;
}
.cid-sFnyUkxVUQ .social-row {
  width: 100%;
  justify-content: center;
}
.cid-sFnyUkxVUQ .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-sFnyUkxVUQ .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-sFnyUkxVUQ .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-sFnyUkxVUQ .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-sFnyUkxVUQ .media-container-row .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.cid-sFnyUkxVUQ .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-sFnyUkxVUQ .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-sFnyUkxVUQ .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  transition: .2s linear;
}
.cid-sFnyUkxVUQ .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-sFnyUkxVUQ .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-sFnyUkxVUQ .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-sFnyUkxVUQ .media-container-row .row-copirayt p {
  width: 100%;
}
.cid-sFnyUkxVUQ P {
  color: #bababa;
}
.cid-sFnyUkxVUQ .media-container-row .mbr-text {
  color: #bababa;
}
.cid-sFnyUkxVUQ .mbr-author-name {
  color: #ffffff;
}
.cid-sFnyUkxVUQ .JCB {
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 15px;
}
.cid-sFnyUkxVUQ a:link {
  color: #bababa;
  background-color: transparent;
  text-decoration: none;
}
.cid-sFnyUkxVUQ a:visited {
  color: #bababa;
  background-color: transparent;
  text-decoration: none;
}
.cid-sFnyUkxVUQ a:hover {
  color: #bababa;
  background-color: transparent;
  text-decoration: underline;
}
.cid-sFnyUkxVUQ a:active {
  color: #bababa;
  background-color: transparent;
  text-decoration: underline;
}
